# project-repo/app/settings/.env-example
#
# DJANGO
#
SITE_HOST=localhost:8000
USE_SSL=False
ALLOWED_HOSTS=localhost,127.0.0.1
SECRET_KEY=asdasd
DEBUG=True  # never on production, will cause settings including api keys to leak
ENV=DEV     # it may be {STG, PROD}
DJANGO_LOG_LEVEL=DEBUG
DATABASE_PROD=false
AUC_ENV=false
DJANGO_FILE_DIR=../dev
#
# MYSQL
#
# DATABASE_URL=mysql://<username>:<password>@127.0.0.1:8458/<database_name>
DATABASE_URL=mysql://project1:Nnsjdajs98123udnhj93g92@127.0.0.1:8458/project1
#
# SQLITE_URL
#
# SQLITE_URL=sqlite:///my-local-sqlite.db
SQLITE_URL=sqlite:////home/paymob-card-app/db.sqlite3
#
# REDIS
#
# django cache
REDIS_DJANGO_CACHE_DATABASE=5
REDIS_DJANGO_CACHE_URL=rediscache://127.0.0.1:6379:5?client_class=django_redis.client.DefaultClient
# celery configuration
REDIS_CELERY_RESULTS_DATABASE=6
REDIS_CELERY_RESULTS_URL=redis://127.0.0.1:6379/6
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/6
CELERY_BROKER_URL=amqp://user:password@localhost:5672/project1-celery
#
# EMAIL CRADENTIALS
#
EMAIL_USE_TLS=True
EMAIL_HOST=smtp.sendgrid.net
EMAIL_PORT=587
EMAIL_HOST_USER=test@test.com
EMAIL_HOST_PASSWORD=This-my-pass

#
# ACCEPT STAGING CREDENTIALS (Cashless)
#
ACCEPT_STG_HMAC_SECRET=hmac_secret
ACCEPT_STG_API_KEY=key
ACCEPT_STG_USERNAME=username
ACCEPT_STG_PASSWORD=pass
ACCEPT_STG_MERCHANT_ID=1234
ACCEPT_STG_INTEGRATION_ID=123
ACCEPT_STG_INTEGRATION_ID_KIOSK=1234
ACCEPT_STG_INTEGRATION_ID_CASH=123
ACCEPT_STG_INTEGRATION_ID_MOBILE=123
ACCEPT_STG_IFRAME_ID=123
#
# ACCEPT STAGING CREDENTIALS (AUC)
#
ACCEPT_AUC_STG_HMAC_SECRET=hmac_secret
ACCEPT_AUC_STG_USERNAME=username
ACCEPT_AUC_STG_PASSWORD=pass
ACCEPT_AUC_STG_MERCHANT_ID=123
ACCEPT_AUC_STG_INTEGRATION_ID=123
ACCEPT_AUC_STG_IFRAME_ID=123
